@import '../../common/css/common.css';
.top_area{
    background: linear-gradient(135deg, #ffc5ffbf,#fff);
    width: 100%;
    height: 270px;
    flex-direction: column;
}
#search-box{
    height: 120px;
    align-items: center;
    padding: 0 10px;

}
#search-box search{
    background-color: #ffffffff;
}
.one_menu{
    height: 130px;
}
.row{
    flex-direction: row;
    align-items: center;
}
.index_img{
    flex-direction: column;
    width: 15%;
}
.img_radius{
    border-radius: 20px;
    padding: 15px;
}
.menu_text{
    font-size: 22px;
    text-align: center;
}
.expand{
    width: 50px;
    padding-top: 25px;
    margin-left: 15px;
}
.two_menu{
    background-color: rgba(238, 238, 238, 1.00);
    position: fixed;
    width: 200px;
    top: 270px;
    left: 0;
}
.two_menu list-item{
    padding: 20px;
    justify-content: center;
}
.two_menu .in-active{
    background-color: #fff;
}
.right_area{
/*    background-color: #ffffdede;*/
    position: fixed;
    width: 520px;
    height: 100%;
    top: 270px;
    right: 0;
    left: 200px;
    flex-direction: column;
}
.select{
/*    background-color: lightblue;*/
    width: 100%;
    height: 50px;
    justify-content: space-around;
    padding-top: 10px;
}
