#search_box{
    height: 100px;
    background-color: orange;
    padding: 10px;
}
#search_box search{
    background-color: #fff;
}
.RootCategory{
    position: fixed;
    background-color: orange;
    width: 130px;
    margin-top: 110px;

}
.RootCategory .in-active{
    background-color: #fff;
}
.RootCategory text{
    margin:10px;
    padding: 10px;
    border-style: dashed;
}
.main{
/*    background-color: gold;*/
    left: 140px;
    top: 110px;
    width: 610px;
    position: fixed;
}
.SubCategory{
    background-color: #ffc0c0c0;
    flex-wrap: wrap;
    border-style: solid;
}
.item{
    width: 33%;
    padding-left: 20px;
    margin-bottom: 30px;
}
.SubCategory text{
    border-radius: 5px;
    border-style: solid;
/*    background-color: red;*/
    margin-top: 10px;
}
.good_box{
    background-color: #ffb5ffaa;
    margin-top: 20px;
    flex-direction: column;
}
.index_img{
    height: 400px;
    width:300px;
}
.introduce_area{
    display: flex;
    flex-direction: column;
    align-items: center;
/*    background-color: red;*/
    width: 310px;
}
.introduce_title{
    margin-top: 20px;
    margin-left: 20px;
}
.introduce_price{
    margin-top: 200px;
    color: red;
    font-size: 40px;
}