.container{
    padding-left: 15px;
    padding-right: 15px;
}

.flex-column{
    flex-direction: column;
}

.pb120{
    padding-bottom: 120px;
}

#tab-bar{
    position: fixed; /*固定定位*/
    left:0;
    bottom:0;
    background-color: #CCC;
    height: 100px;
    width: 100%;
    /*交叉轴对齐：居中*/
    align-items: center;
    /*主轴对齐：around*/
    justify-content: space-around;
}
